.homepage {
  background-color: #ccffff;
}

#newlook {
  color: #004d38;
  background-color : #1affc6;
  text-align: center;
  padding: 40px;
  
}  


#maintitle {
  color:#004d38;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke: 2px #00cc99;
  text-align: center;
  background-image: url("Horse_Races.jpg");
  background-size: cover;
  height: 100%;}