/* body {
  padding: 0;
  margin: 0;
}

.main-svg {
  height: 100%;
  padding: 10;
  margin-left: 10;
  margin-bottom: 20;
  width: 100%;
  
} */

#maintitle {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Bold', sans-serif;
  -webkit-text-stroke: 2px red;
  text-align: center;
  background-image: url("Horse_Races.jpg");
  background-size: cover;
  height: 100%;}