.homepage {
  background-color: #baecec;
  /* font-family: fantasy; */
}



#newlook {
  /* color: #004d38;  */
  background-color : #006600;
  text-align: center;
  padding: 40px;
  
} 

#maintitle {
  position: relative;
  width: 100%;
  align-items: center;
  height: 100%;
  
}

#maintitle::before {
  content: "";
  background-image: url("Horse_Races.jpg");
  background-size: cover;
  opacity: .5;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  }

#offtorace {
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: 5;
}

h1 {
  position: relative;
  font-weight: bold;
  -webkit-text-stroke: 1px white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  
}

h3 {
  position: relative;  
  font-weight: bold;
  -webkit-text-stroke: 1px white;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  }


@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}
