<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Horse Races</title>

  <!-- Our CSS -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   -->
</head>

<body class="homepage">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Project Links</a>
    <a class="nav-link" href="http://off-to-the-races.herokuapp.com/"><strong>Home</strong></a>    
    <a class="nav-link" href="/send">Visualizations</a>


    
  </nav>

  <!-- title area container -->
  <div class="container">
    <div class="jumbotron" id="maintitle">
      <h1 id="offtorace">Off to the Races</h1>
      <h3>**A prediction of horse race winners**</h3>
    </div>

  </div>

  

  <!-- content area container  -->
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-secondary"><a href="/send">See Race Visualizations...</a></button>
      </div>
    </div>
      
      <div class="row">
        <div class="col-md-12">
          <h2 style="text-align:center;">Machine Learning Model Analysis </h2>
          <img src="../static/data/differencehistogram.jpeg" alt="histogram"  width="50%" height="600" style="padding:10px;"><img src="../static/data/traintestscatter.jpeg" alt="scatterplot"  width="50%" height="600" style="padding:10px;">
          <div class="alert alert-dismissible alert-warning">
            <h4 class="alert-heading">Our Model</h4>
            <p class="mb-0">The visualizations shown here show that our model functions well. The images on the top visualize analysis on our training data. The training data is normally distributed and also shows a strong linear trend. Our model did a good job of predicting the training data. The bottom visualizations show the same analysis for our test data. The histogram still shows a normalized distribution and a strong linear relationship. These results show that overfitting did not occur.</p>
          </div>
        </div>
      </div>
      
    
  </div> 

  <!-- svg area if we need it -->
  <!-- <div id="svg-area"></div> -->

  <div class="alert alert-dismissible alert-info">
    <div class="row justify-content-center">
      <h1 class="pt5 pb2">Welcome to the Race Generator</h1>
    </div>
    <div class="row justify-content-center">
      <form action="/" method="post">
        <fieldset class="form-field">
          {{ form.winOdds.label }}
          {{ form.winOdds(size=10) }}
        </fieldset>
        <fieldset class="form-field">
          {{ form.placeOdds.label }}
          {{ form.placeOdds(size=10) }}
        </fieldset>
        <fieldset class="form-field">
          {{ form.raceClass.label }}
          {{ form.raceClass }}
        </fieldset>
        <fieldset class="form-field">
          {{ form.distance.label }}
          {{ form.distance }}
        </fieldset>
        <fieldset class="form-field">
          {{ form.lengthsBehind.label }}
          {{ form.lengthsBehind(size=10) }}
        </fieldset>

        <!-- <button onclick=randomRace() class="btn btn-block"> -->
          {{ form.submit }}
        <!-- </button>   -->
          
        
      </form>
    </div>
  </div>
  
  <!-- D3 JavaScript/Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  

<!--  Our JavaScript Programs -->
  <script type="text/javascript" src="../static/js/app.js"></script>
  <!-- <script type="text/javascript" src="../static/js/logic.js"></script> -->
  
  

</body>

</html>
